body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav .listItem, footer .listItem {
  display: inline-block;
  height: auto;
  margin-right: 2%;
  cursor: pointer;
  padding: 0.5%;
  margin: 0.1%;
  vertical-align: top;
}

nav .listItem:not(:first-child) {
  padding: 2%;
  margin-top: 1.5%;
  border-top: 2px solid #ffa000;
}

nav .listItem:hover:not(:first-child) {
  border-top: none;
  border-bottom: 2px solid #ffa000;
  font-weight: bold;
}


aside .listItem {
  display: block;
  width: 98%;
  border-left: 2px solid #234465;
  border-right: 2px solid #234465;
  margin-bottom: 11%;
  height: 5vh;
  text-align: center;
}

aside .listItem a {
  color: #234465;
  text-align: center;
  text-decoration: none;
  padding-top: 5%;
  height: 60%;
  display: block;
}

aside .listItem:hover {
  border-left: none;
  border-right: none;
  font-weight: bold;
  cursor: pointer;
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
  color: #ffa000;
}