.mainContainer {
    display: inline-block;
    text-align: center;
    width: 83%;
    height: auto;
    /* border:1px solid blue; */
    margin-bottom: 5%;
}

.postsWrapper {
    width: 100%;
    /* border:1px solid red; */
    height: 45vh;
}

